<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="bad_container_name" value="/mcapl/eclip"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/mcapl/src/examples/eass/nxt/legorover/rule_customisation/LegoRoverUI_RuleP.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="eass.nxt.legorover.rule_customisation.LegoRoverUI_RuleP"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="mcapl"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-d32"/>
</launchConfiguration>
