<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/mcapl/src/examples/eass/nxt/legorover/simple/LegoRoverUI.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="eass.nxt.legorover.simple.LegoRoverUI"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="claudia"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="mcapl"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-d32"/>
</launchConfiguration>
